/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2019, 11:26:33 PM
    Author     : Developer UI
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 24px;    
    color: #666;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0 ! important;
}

a:focus,
a:active,
a:hover {
    outline: none ! important;
}

.navbar-brand {
    display: none !important;
}

.navbar-inverse {
    background: none;
    border: none;
}

#table_inner_content {
    float: left;
    text-align: center;
    width: 100%;
}

.nopad {
    padding: 0 !important;
}

.nomar {
    margin: 0 !important;
}

.main_container {
    float: left;
    width: 100%;
}
.header_container {
    float: left;
    width: 100%;
    padding: 5px 0;
    transition: 1s all;
    background-color: rgba(255, 255, 255, 0.7);
}
.header_container_scroll {
    position: fixed;
    z-index: 9999;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #01559b;
    transition: 1s all;
}
.logo_container {
    float: left;
    width: 100%;
}
.logo_container img {
    width: 50%;
}
.menu_container {
    float: left;
    width: 100%;
}
.hamburger-menu-button {
    width: 40px;
    height: 40px;
    float: right;
    padding: 6px;
    display: block;
    position: relative;
    z-index: 100;
    background-color: transparent;
    border: 5px solid #fff;
    box-sizing: content-box;
    border-radius: 50%;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.menu_container button:focus {
    outline: none !important;
}
.hamburger-menu-button-open {
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -12px;
}
.hamburger-menu-button-open, 
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
    left: 0;
    content: "";
}
.hamburger-menu-button-open::before {
    top: 6px;
}
.hamburger-menu-button-open::after {
    bottom: 6px;
}
.hamburger-menu-button-close {
    background: transparent;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.hamburger-menu-button-close::before {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
}
.hamburger-menu-button-close::after {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
}
.ham-menu {
    position: absolute;
    top: 15px;
    right: 80px;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
}
.ham-menu ul {
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ham-menu.on ul {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.ham-menu ul {
    font-size: 0;
}
.dropdown_menus {
    display: none;
    transition: 1s all ease-in;
}
.has_dropdown:hover .dropdown_menus {
    background-color: #fff !important;
    display: block;
    transition: 1s all ease-out;
}
.ham-menu ul li {
    display: inline-flex; 
    float: left;
}
.ham-menu ul li:first-child .ham-menu ul li a {
    padding-left: 30px;
}
.ham-menu ul li a {
    padding: 5px 15px;
    display: block;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
}
.ham-menu ul li.active a, .ham-menu ul li a:hover {
    border-bottom: 2px solid #000;
    color: #000 !important;
}
.has_dropdown.active a, .has_dropdown a:hover {
    border-bottom: none !important;
}
.banner_container{
    float: left;
    width: 100%;    
}
.banner_container .carousel-indicators .active{
    background-color: #f1c40f !important;
}
.banner_container .carousel-indicators li{
    background-color: #fff !important;
}
.carousel-control {
    background-image: none !important;
}
.carousel-control span {
    position: relative;
    top: calc(100% - 50%);
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.service_container{
    float: left;
    width: 100%;
    padding: 2% 0;    
    text-align: center;
}
.head_div {
    float: left;
    width: 100%;
    position: relative;
}
.head_div b{
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
}
.head_div span {
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0;
}
.head_div span:after {
    content: '';
    background-image: url(../images/underline.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: calc(100% - 30%);
    display: inherit;
    background-position: top center;
}
.ser_cont_dec {
    float: left;
    width: 100%;
    margin: 2% 0;
}
.ser_cont {
    float: left;
    width: 100%;    
    padding: 10px;
}
.ser_cont b {
    float: left;
    width: 100%; 
    font-size: 20px;
    padding: 10px 0;    
}
.ser_cont img {
    margin: auto;
    width: 75px;
    height: 75px;
    background-color: #333;
    padding: 15px;
    border-radius: 50%;
    transition: 1s all;
}
.ser_cont_dec .col-sm-3:hover .ser_cont img {
    background-color: #2b1850;
    border-radius: 0;
    transition: 1s all;
}
.ser_cont_dec .col-sm-3 {
    padding: 20px 0;
    border-right: 1px dotted #000;
    border-bottom: 1px dotted #000;
}
.ser_cont_dec .col-sm-3:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    transition: 1s all;
}
.ser_cont_dec .col-sm-3:nth-child(4), .ser_cont_dec .col-sm-3:nth-child(8) {
    border-right: 0px dotted #000;
}
.ser_cont_dec .col-sm-3:nth-child(8),.ser_cont_dec .col-sm-3:nth-child(7),.ser_cont_dec .col-sm-3:nth-child(6),.ser_cont_dec .col-sm-3:nth-child(5) {
    border-bottom: 0px dotted #000;
}
.whatwedo_container{
    float: left;
    width: 100%;
    background-image: url('../images/whoweare.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;   
}
.whatwe_cont{
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;    
    margin: 10% 0 -10% 0;
    box-shadow: 1px 10px 5px 2px #ddd;
    padding: 5%;    
}
.head_aft {
    float: left;
    width: 100%;
    margin: 2% 0;
}
.head_aft b {
    float: left;
    width: 100%; 
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;    
}
.head_aft img {
    margin: auto;
    width: 50%;
}
.lin{
    float: left;
    width: 100%;
    margin: 2% 0;
}
.lin a {
    text-decoration: none;
    background-color: #3e347c;
    padding: 12px 15px;
    border-radius: 20px;
    color: #fff;
    transition: 1s;
}
.lin a:hover {
    background-color: #d6a902;
    border-radius: 0px;
    transition: 1s;
}
.prod_container{
    float: left;
    width: 100%;
}
.oops_container {
    float: left;
    width: 100%;
    text-align: center;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    padding: 10% 0 0;
}
.head_divs{
    float: left;
    width: 100%;
}
.head_divs b {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.head_divs span{
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
}
.head_divs img{
    width: 25%;
    margin: auto;
}
.four_sec {
    float: left;
    width: 100%;
    padding: 5%;
}
.cor_pro {
    float: left;
    width: 100%;
    padding: 10%;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    background-color: #d6a902;
    transition: 1s all;
}
.cor_pro a{ 
    color: #000;
    text-decoration: none;
}
.cor_pro:hover{
    background-color: #2b1850;
    transition: 1s all;
}
.cor_pro:hover a {
    color: #fff;
}
.cor_pro img {
    padding: 5px 0;
    margin: auto;
}
.cor_pro:hover img.img-responsive.blk {
    display: none;
    transition: 1s all;
}
.cor_pro:hover img.img-responsive.wht {
    display: block;
    transition: 1s all;
}
img.img-responsive.wht {
    display: none;
    transition: 1s all;
}
.four_exp_cont{
    float: left;
    width: 100%;
    background-image: url('../images/background_tabs.jpg');
    background-position: center center;
    background-size: 100% 100%;
}
.four_exp_cont .tab-content {
    float: left;
    width: 100%;
    padding: 5%;
    position: relative;
}
.desc {
    float: left;
    width: 100%;
    color: #fff;
}
.desc b {
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}
.desc span {
    float: left;
    width: 100%;
    text-align: justify;
    padding: 3% 0;
}
.desc a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #c19801;
    text-decoration: none;
}
.desc a:hover{
    color: #000;
}
#home::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 9%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;    
}
#menu1::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 33%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
#menu2::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 57%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
#menu3::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 81%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
.mobi_container {
    float: left;
    width: 100%;
    padding: 1% 0;
}
.caro_sect {
    float: left;
    width: 100%;
}
.caro_sect .carousel-indicators li{
    margin: 5px 0;
    background-color: #7f7f7f !important;
    border: 0px solid #fff !important;
}
.caro_sect .carousel-indicators .active{
    background-color: #d6a902 !important;
    width: 10px !important;
    height: 10px !important;
}
.caro_sect ol.carousel-indicators li {
    display: block;
}
.caro_sect .carousel-indicators {
    left: auto !important;
    width: auto !important;
    margin-left: auto !important;
    right: 0 !important;
    float: right !important;
    top: calc(100% - 60%) !important;
}
.want_to_work_conta {
    float: left;
    width: 100%;
    background-color: #2b1850;
}
.want_to_work {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 5% 0;
}
.want_to_work i {
    color: #000;
    background-color: #fff;
    padding: 15px 12px;
    border-radius: 50%;
    margin: 0 5px;
}
.want_to_work a {
    color: #000;
    background-color: #c59c02;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    transition: 1s all;
}
.want_to_work a:hover {
    border-radius: 0;
    color: #fff;
    transition: 1s all;
}
.foot_container {
    float: left;
    width: 100%;
    background-image: url(../images/foo.jpg);
    background-position: center center;
    background-size: cover;
    padding: 2% 0;
}
.soci_cont {
    float: left;
    width: 100%;
    text-align: center;
}
.soci_cont span{
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
.soci_cont a {
    display: inline-block;
}
.soci_cont img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
.cont_details {
    float: left;
    width: 100%;
    margin-top: 20%;
}
.cont_foo {
    float: left;
    width: 100%;
    color: #6f6f6f;
    margin: 10px 0;
    min-height: 200px;
}
.cont_foo span {
    float: left;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.form_section {
    float: left;
    width: 100%;
}
.form_footer {
    float: left;
    width: 100%;
}
.form_footer label{
    color: #ddd;
    margin-bottom: 0px;
}
.form_footer .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    margin: 5px 0;
}
.form_footer .form-control:focus {
    box-shadow: none !important;
}
.submit {
    float: left;
    width: 100%;
    margin-top: 10%;
}
.submit input{
    float: right;
    background-color: #f1c40f;
    color: #000;
    padding: 4px 20px;
    border-radius: 30px;
    border: none;
}
.submit input:hover{
    border-radius: 0;
    color: #fff;
}
.copy_cont{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: #000;
    border-top: 2px solid #fff;
}
.back-to-top {
    position: fixed;
    right: 0;
    bottom: 10%;
    text-align: center;
    cursor: pointer;
    transition: all 400ms linear 0s;
    z-index: 999999;
    background-color: #c59c02;
}

.back-to-top a {
    color: #fff;
}

.back-to-top i {
    padding: 12px;
}
.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2b1850;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-bottom:active,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:hover {
    color: #fff
}

.hvr-bounce-to-bottom:active:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66)
}
/* About css start */

.about_sec_container {
    float: left;
    width: 100%;
    padding: 5% 0;
    background-color: #fff;
}
.abt_lef_sec {
    float: left;
    width: 100%;
    position: relative;
    text-align: justify;
}
.abt_lef_sec span {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0;
    float: left;
    width: 100%;
}
.abt_lef_sec span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 100px;
    height: 45px;
    left: 0;
}
.miss_viiss_container {
    float: left;
    width: 100%;
    padding: 2% 0 7%;
    background-image: url('../images/what_we_do_backdup.png');
    background-position: center center;
    background-size: 100% 100%;
}
.miss_viiss_container .col-sm-4 {
    color: #fff;
    min-height: 280px;
}
.mi_vi_head {
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 2% 0;
}
.mi_vi_head img{
    margin: auto;
    padding: 10px 0;
    width: 15%;
}
.mi_vi_head span{
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;    
}
.thr_mis_vis {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #0274b5;
    padding: 15px;
}
.thr_mis_vis:hover {
    background-color: #ff9000;
}
.thr_mis_vis span {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    padding: 20px;
    float: left;
}
.thr_mis_vis img {
    width: 20%;
    float: left;
}
.thrr_conten {
    float: left;
    width: 100%;
    background-color: #000;
    min-height: 240px;
    padding: 5%;
    text-align: justify;
}
.mid_dox{
    background-color: #ff9000;
}
.what_we_do_abt_cont {
    float: left;
    width: 100%;
    padding: 2% 0 0;
    background-color: #fff;
    background-image: url('../images/what_we_do_background.png');
    background-position: center center;
    background-size: 100% 100%;
}
.abt_ehat_wehd {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}
.abt_ehat_wehd img{
    margin: auto;
    padding: 10px 0;
    width: 15%;
}
.abt_ehat_wehd b {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
}
.left_wat_do {
    text-align: right;
    float: left;
    width: 100%;
}
.left_wat_do span{
    float: left;
    width: 100%;
    padding: 20px 0;
    font-size: 21px;
    text-transform: uppercase;
}
.left_wat_do span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 75px;
    height: 33px;
    right: 15px;
}
.right_wat_do {
    text-align: left;
    float: left;
    width: 100%;
}
.right_wat_do span{
    float: left;
    width: 100%;
    padding: 20px 0;
    font-size: 21px;
    text-transform: uppercase;
}
.right_wat_do span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 75px;
    height: 33px;
    left: 15px;
}
.mid_image {
    float: left;
    width: 100%;
}
.mid_image img{
    margin: auto;
}
.count_down_container {
    float: left;
    width: 100%;
    background-color: #2b1850;
    text-align: center;
    padding: 2% 0;
}
.abt_ico_cont {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}
.abt_ico_cont img {
    margin: auto;
    width: 35%;
    padding-bottom: 10%;
}
.cou_text {
    float: left;
    width: 100%;
    padding: 5px 0;
    color: #fff;
}
.abt_ico_cont:hover{
    color: #fe9100;
}

/* About css end */




@media(min-width:320px) and (max-width:479px) {}

@media(min-width:480px) and (max-width:639px) {}

@media(min-width:640px) and (max-width:767px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:992px) and (max-width:1200px) {}

@media(min-width:1201px) and (max-width:1650px) {}