/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2019, 11:26:33 PM
    Author     : Developer UI
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 24px;    
    color: #666;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0 ! important;
}

a:focus,
a:active,
a:hover {
    outline: none ! important;
}

.navbar-brand {
    display: none;
}

.navbar-inverse {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    /* background-color: #ddd !important; */
    border: 0;
    box-shadow: none;
}

.dropdown-menu li a {
    padding: 7px 20px !important;
    margin: 3px 0;
    transition: 1s all;
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: transparent;
    box-shadow: none;
    border: 0;
}
.menu_div .navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #3e347c;
    margin-top: 10%;
}
.menu_div .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #e3ba20;
    margin-top: 10%;
}
.menu_div .navbar-collapse {
    border-top: none !important;
}
#table_inner_content {
    float: left;
    text-align: center;
    width: 100%;
}

.nopad {
    padding: 0 !important;
}

.nomar {
    margin: 0 !important;
}

.main_container {
    float: left;
    width: 100%;
}
.header_container {
    float: left;
    width: 100%;
    padding: 5px 0;
    transition: 1s all;
    background-color: rgba(255, 255, 255, 0.7);
}
.header_container_scroll {
    position: fixed;
    z-index: 9999;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #01559b;
    transition: 1s all;
}
.logo_container {
    float: left;
    width: 100%;
}
.menu_container {
    float: left;
    width: 100%;
}
.menu_div {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.menu_div ul li a {
    padding: 15px 20px;
    color: #000 !important;
    font-size: 16px;
    font-weight: bold;
}
.menu_div .navbar-nav {
    float: right;
}
.banner_container{
    float: left;
    width: 100%;    
}
.banner_container .carousel-indicators .active{
    background-color: #f1c40f !important;
}
.banner_container .carousel-indicators li{
    background-color: #fff !important;
}
.banner_container .carousel-control {
    background-image: none !important;
}
.banner_container .carousel-control span {
    position: relative;
    top: calc(100% - 50%);
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.banner_container .carousel-caption {
    right: 18%;
    left: 18%;
    padding-bottom: 0;
    position: absolute;
    top: 25%;
    padding-top: 0;
    bottom: 0;
    text-shadow: none;
    transition: 2s ease-in;
}

.slide_cont {
    float: left;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    text-shadow: 2px 2px 2px #c2c3c4;
}
.slide_cont b {
    font-size: 70px;
    line-height: 70px;
    color: #000;
}
.slide_cont a {
    font-size: 22px;
    line-height: 22px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: #fb5054;
    padding: 10px 20px;
    display: inline-block;
    margin: 3% 0;
}
.banner_slider_div .item.active .slide_cont {
    opacity: 1;
    transition: 3s all;
}

.banner_slider_div .item.active .carousel-caption {
    bottom: 20%;
    transition: 2s ease-in;
}
.service_container{
    float: left;
    width: 100%;
    padding: 2% 0;    
    text-align: center;
}
.head_div {
    float: left;
    width: 100%;
    position: relative;
}
.head_div b{
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
}
.head_div span {
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0;
}
.head_div span:after {
    content: '';
    background-image: url(../images/underline.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: calc(100% - 30%);
    display: inherit;
    background-position: top center;
    display: none;
}
.ser_cont_dec {
    float: left;
    width: 100%;
    margin: 2% 0;
    background-color: #fff !important;
    margin-top: -30%;
    z-index: 9999;
    position: relative;
}
.ser_cont {
    float: left;
    width: 100%;    
    padding: 5% 10%;
    min-height: 300px;
}
.ser_cont b {
    float: left;
    width: 100%; 
    font-size: 20px;
    padding: 10px 0;    
}
.ser_cont img {
    margin: auto;
    width: 100px;
    height: 100px;
    transition: 1s all;
}
.ser_cont_dec .col-sm-3 {
    padding: 20px 0;
    border-right: 1px dotted #000;
    border-bottom: 1px dotted #000;
}
.ser_cont_dec .col-sm-3:nth-child(4), .ser_cont_dec .col-sm-3:nth-child(8) {
    border-right: 0px dotted #000;
}
.ser_cont_dec .col-sm-3:nth-child(8),.ser_cont_dec .col-sm-3:nth-child(7),.ser_cont_dec .col-sm-3:nth-child(6),.ser_cont_dec .col-sm-3:nth-child(5) {
    border-bottom: 0px dotted #000;
}
.prod_container{
    float: left;
    width: 100%;
}
.oops_container {
    float: left;
    width: 100%;
    text-align: center;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
}
.head_divs{
    float: left;
    width: 100%;
}
.head_divs b {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.head_divs span{
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
}
.head_divs img{
    width: 25%;
    margin: auto;
}
.four_sec {
    float: left;
    width: 100%;
    padding: 5%;
}
.cor_pro {
    float: left;
    width: 100%;
    padding: 10%;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    background-color: #d6a902;
    transition: 1s all;
}
.cor_pro a{ 
    color: #000;
    text-decoration: none;
}
.cor_pro:hover{
    background-color: #2b1850;
    transition: 1s all;
}
.cor_pro:hover a {
    color: #fff;
}
.cor_pro img {
    padding: 5px 0;
    margin: auto;
}
.cor_pro:hover img.img-responsive.blk {
    display: none;
    transition: 1s all;
}
.cor_pro:hover img.img-responsive.wht {
    display: block;
    transition: 1s all;
}
img.img-responsive.wht {
    display: none;
    transition: 1s all;
}
.four_exp_cont{
    float: left;
    width: 100%;
    background-image: url('../images/background_tabs.jpg');
    background-position: center center;
    background-size: 100% 100%;
}
.four_exp_cont .tab-content {
    float: left;
    width: 100%;
    padding: 5%;
    position: relative;
}
.desc {
    float: left;
    width: 100%;
    color: #fff;
}
.desc b {
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}
.desc span {
    float: left;
    width: 100%;
    text-align: justify;
    padding: 3% 0;
}
.desc a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #c19801;
    text-decoration: none;
}
.desc a:hover{
    color: #000;
}
#home::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 9%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;    
}
#menu1::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 33%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
#menu2::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 57%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
#menu3::after {
    content: '';
    background-image: url('../images/active.png');
    background-position-x: 81%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: inherit;
    position: absolute;
    top: -15px;
}
.mobi_container {
    float: left;
    width: 100%;
    padding: 1% 0;
}
.caro_sect {
    float: left;
    width: 100%;
}
.caro_sect .carousel-indicators li{
    margin: 5px 0;
    background-color: #7f7f7f !important;
    border: 0px solid #fff !important;
}
.caro_sect .carousel-indicators .active{
    background-color: #d6a902 !important;
    width: 10px !important;
    height: 10px !important;
}
.caro_sect ol.carousel-indicators li {
    display: block;
}
.caro_sect .carousel-indicators {
    left: auto !important;
    width: auto !important;
    margin-left: auto !important;
    right: 0 !important;
    float: right !important;
    top: calc(100% - 60%) !important;
}
.want_to_work_conta {
    float: left;
    width: 100%;
    background-color: #2b1850;
}
.want_to_work {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 2% 0;
}
.want_to_work i {
    color: #000;
    background-color: #fff;
    padding: 15px 12px;
    border-radius: 50%;
    margin: 0 5px;
}
.want_to_work a {
    color: #000;
    background-color: #c59c02;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    transition: 1s all;
}
.want_to_work a:hover {
    border-radius: 0;
    color: #fff;
    transition: 1s all;
}
.foot_container {
    float: left;
    width: 100%;
    background-image: url(../images/background_footer.jpg);
    background-position: center center;
    background-size: cover;
    padding: 2% 0;
}
.soci_cont {
    float: left;
    width: 100%;
    text-align: center;
}
.soci_cont span{
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
.soci_cont a {
    display: inline-block;
}
.soci_cont img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
.cont_details {
    float: left;
    width: 100%;
}
.cont_foo {
    float: left;
    width: 100%;
    color: #6f6f6f;
    margin: 10px 0;
    min-height: 200px;
}
.cont_foo span {
    float: left;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.form_section {
    float: left;
    width: 100%;
}
.form_footer {
    float: left;
    width: 100%;
}
.form_footer label{
    color: #ddd;
    margin-bottom: 0px;
}
.form_footer .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    margin: 5px 0;
}
.form_footer .form-control:focus {
    box-shadow: none !important;
}
.submit {
    float: left;
    width: 100%;
    margin-top: 10%;
}
.submit input{
    float: right;
    background-color: #f1c40f;
    color: #000;
    padding: 4px 20px;
    border-radius: 30px;
    border: none;
}
.submit input:hover{
    border-radius: 0;
    color: #fff;
}
.copy_cont{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: #000;
    border-top: 2px solid #fff;
}
.back-to-top {
    position: fixed;
    right: 0;
    bottom: 10%;
    text-align: center;
    cursor: pointer;
    transition: all 400ms linear 0s;
    z-index: 999999;
    background-color: #c59c02;
}

.back-to-top a {
    color: #fff;
}

.back-to-top i {
    padding: 12px;
}
.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2b1850;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-bottom:active,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:hover {
    color: #fff
}

.hvr-bounce-to-bottom:active:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66)
}
/* About css start */

.about_sec_container {
    float: left;
    width: 100%;
    padding: 5% 0;
    background-color: #fff;
}
.abt_lef_sec {
    float: left;
    width: 100%;
    position: relative;
    text-align: justify;
}
.abt_lef_sec span {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0;
    float: left;
    width: 100%;
}
.abt_lef_sec span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 100px;
    height: 45px;
    left: 0;
}
.miss_viiss_container {
    float: left;
    width: 100%;
    padding: 2% 0 7%;
    background-image: url('../images/what_we_do_backdup.png');
    background-position: center center;
    background-size: 100% 100%;
}
.miss_viiss_container .col-sm-4 {
    color: #fff;
    min-height: 280px;
}
.mi_vi_head {
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 2% 0;
}
.mi_vi_head img{
    margin: auto;
    padding: 10px 0;
    width: 15%;
}
.mi_vi_head span{
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;    
}
.thr_mis_vis {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #0274b5;
    padding: 15px;
}
.thr_mis_vis:hover {
    background-color: #ff9000;
}
.thr_mis_vis span {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    padding: 20px;
    float: left;
}
.thr_mis_vis img {
    width: 20%;
    float: left;
}
.thrr_conten {
    float: left;
    width: 100%;
    background-color: #000;
    min-height: 240px;
    padding: 5%;
    text-align: justify;
}
.mid_dox{
    background-color: #ff9000;
}
.what_we_do_abt_cont {
    float: left;
    width: 100%;
    padding: 2% 0 0;
    background-color: #fff;
    background-image: url('../images/what_we_do_background.png');
    background-position: center center;
    background-size: 100% 100%;
}
.abt_ehat_wehd {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}
.abt_ehat_wehd img{
    margin: auto;
    padding: 10px 0;
    width: 15%;
}
.abt_ehat_wehd b {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
}
.left_wat_do {
    text-align: right;
    float: left;
    width: 100%;
}
.left_wat_do span{
    float: left;
    width: 100%;
    padding: 20px 0;
    font-size: 21px;
    text-transform: uppercase;
}
.left_wat_do span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 75px;
    height: 33px;
    right: 15px;
}
.right_wat_do {
    text-align: left;
    float: left;
    width: 100%;
}
.right_wat_do span{
    float: left;
    width: 100%;
    padding: 20px 0;
    font-size: 21px;
    text-transform: uppercase;
}
.right_wat_do span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 75px;
    height: 33px;
    left: 15px;
}
.mid_image {
    float: left;
    width: 100%;
}
.mid_image img{
    margin: auto;
}
.count_down_container {
    float: left;
    width: 100%;
    background-color: #2b1850;
    text-align: center;
    padding: 2% 0;
}
.abt_ico_cont {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}
.abt_ico_cont img {
    margin: auto;
    width: 35%;
    padding-bottom: 10%;
}
.cou_text {
    float: left;
    width: 100%;
    padding: 5px 0;
    color: #fff;
}
.abt_ico_cont:hover{
    color: #fe9100;
}

/* About css end */
/* Blog css start */

.blog_section_cont {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.blog_remote {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.blog_remote ul li a {
    padding: 5px 35px;
    border-radius: 20px;
    background-color: #b3b3b1;
    color: #000;
    font-weight: bold;
    margin-right: 50px;
}
.blog_remote ul li.active a{
    background-color: #ff585c;
    color: #fff;
}
.blog_remote_content {
    float: left;
    width: 100%;
}
.tab-content {
    float: left;
    width: 100%;
}
.inside_blog {
    float: left;
    width: 100%;
    margin: 2% 0;
    padding: 2%;
    color: #000;
    background-color: #f1eeff;
    transition: 1s all;
}
.inside_blog:hover {
    color: #fff;
    background-color: #59518e;
    transition: 1s all;
}
.inside_blog img {
    float: left;
    padding-right: 3%;
}
.inside_blog b {
    font-size: 21px;
}
/* Blog css end */
/* Ad format css start */

.ad_format_entr {
    float: left;
    width: 100%;
    position: relative;
    text-align: right;
}
.ad_format_entr span {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0;
    float: left;
    width: 100%;
}
.ad_format_entr span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 100px;
    height: 45px;
    right: 0;
}
.rich_media_container{
    float: left;
    width: 100%;
    background-image: url('../images/ad_formats_rich_bg.jpg');
    background-position: center center;
    background-size: 100% 100%;
}
.rich_hde {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 3% 0;
    position: relative;
}
.rich_hde span{
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    padding: 1% 0;
}
.rich_hde span:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fe9100;
    width: 100px;
    height: 40px;
    right:calc(100% - 54%);
}
.three_banners_section {
    float: left;
    width: 100%;
    background-image: url('../images/ad_formats_rich_ads_background.jpg');
    background-position: center center;
    background-size: 100% 100%;
    padding: 5% 0;
}
.thr_banner_sec {
    float: left;
    width: 100%;
    min-height: 250px;
}
.thr_banner_sec img {
    float: left;
    width: 50%;
    padding-right: 5%;
}
.thr_banner_sec span {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    display: inherit;
    padding-top: 5%;
}
.mobile_banner_container {
    float: left;
    width: 100%;
}
.mobile_banner_container .rich_hde {
    color: #000;
}
.mobile_banner_container .rich_hde span {
    padding: 2% 0;
}
.mob_ad_slot_container {
    float: left;
    width: 100%;
    padding: 5%;
    background-color: #d2d0e1;
}
.mob_slot_exp {
    float: left;
    width: 100%;
}
.mob_slot_exp img {
    margin: auto;
}
.ad_mob_slt_bottm {
    float: left;
    width: 100%;
    text-align: center;
    padding: 3% 0;
}
.ad_mob_slt_bottm b{
    font-size: 18px;
    padding: 1% 0;
}
/* Ad format css end */

/* Career css starts */

.career_cont_section {
    float: left;
    width: 100%;
    padding: 3% 0;
    text-align: justify;
}
.car_lef_img {
    float: left;
    width: 100%;
}
.car_lef_img img {
    width: 80%;
    margin: auto;
}
.right_cont_career {
    float: left;
    width: 100%;
    min-height: 310px;
}
.right_cont_career b {
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0;
}
.car_con b{
    font-size: 20px;
    text-transform: uppercase;
}
.career_carousel {
    float: left;
    width: 100%;
    padding: 2% 0;
    background-color: #c7c7c6;
}
.caro_sect {
    float: left;
    width: 100%;
}
.caree_six_containeer {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.car_six {
    float: left;
    width: 100%;
    background-color: #000;
    min-height: 130px;
    text-align: center;
    color: #fff;
    padding: 5%;
    margin: 5% 0;
}
.car_six img {
    margin: auto;
    display: inherit;
    margin-top: -15%;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    border: 2px solid #000;
}
.car_six b {
    padding: 5% 0;
    float: left;
    width: 100%;
    font-size: 18px;
}
.car_six:hover {
    background-color: #3e347c;
    transition: 1s all;
}
.career_word_btm {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 2% 0;
}
/* Career css ends */

/* Contact css starts */
.address_container_cont {
    float: left;
    width: 100%;
    padding: 3% 0 0;
}
.addr_const {
    float: left;
    width: 100%;
    min-height: 210px;
}
.addr_const b {
    font-size: 20px;
    text-transform: uppercase;
}
.conta_lady {
    float: left;
    width: 100%;
}
.conta_lady img {
    margin: auto 20px;
}
.contact_get_insect {
    float: left;
    width: 100%;
    background-image: url('../images/contact_overall_back.png');
    background-position: center center;
    background-size: 100% 100%;
    padding-bottom: 10%;
}
.contact_get_insect .submit {
    float: left;
    width: 100%;
    margin-top: 5%; 
}
.xontact_heed {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    padding: 2% 0;
    color: #fff;
    font-weight: bold;
}
.xontact_heed img {
    padding: 1% 0;
    margin: auto;
}
.get_inform_contain {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 5%;
    box-shadow: 0 0 5px 0 #ddd;
}
.get_inform_contain .col-xs-12 {
    margin: 5px 0;
}
.get_inform_contain .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #999;
}
.get_inform_contain .submit input {
    background-color: #000;
    color: #fff;
}
.bunc_mails {
    float: left;
    width: 100%;
    color: #fff;
    background-color: #1d262b;
    padding: 15% 7%;
}
.bunc_mails p {
    margin: 5px 0 !important;
}
.bunc_mails span {
    color: #c59c02;
    padding: 0 10px;
}
.bunc_mails .soci_cont {
    text-align: left;
    margin-top: 5%;
}
.bunc_mails .soci_cont img {
    width: 33px;
    height: 33px;
}
/* Contact css ends */

/* Performance css starts */
.performance_cont_contain {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.perfo_hd {
    float: left;
    width: 100%;
    text-align: center;
}
.perfo_hd b {
    font-size: 36px;
    line-height: 36px;
    float: left;
    width: 100%;
    padding-bottom: 1%;
}
.perf_cont_hal {
    float: left;
    min-height: 110px;
    width: 100%;
    margin-top: 5%;
}
.perf_cont_hal span {
    display: inherit;
    font-weight: bold;
    color: #000;
}
.perf_cont_hal img {
    float: left;
    margin-right: 3%;
    background-color: #000;
    padding: 10px;
}
.perf_cont_hal img:hover {
    background-color: #3e347c;
}
.perfo_beni_container {
    float: left;
    width: 100%;
}
.perf_ben_img {
    float: left;
    width: 100%;
}
.perf_ben_img img {
    width: 100%;
}
.perform_benifits_cont {
    float: left;
    width: 100%;
    background-color: #3e347c;
    padding: 20px;
    color: #fff;
}
.pef_ben {
    float: left;
    width: 100%;
    padding: 2% 0;
}
.pef_ben span {
    border: 2px solid #fff;
    padding: 15px 23px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    float: left;
}
.pef_ben:hover {
    color: #c59c02;
}
.pef_ben:hover span {
    background-color: #c59c02;
    color: #000;
}
.perf{
    margin: 2% 0;
}
.per_rit_ali .pef_ben {
    text-align: right;
}
.per_rit_ali .pef_ben span{
    margin: 0 0 0 15px;
    float: right;
}
/* Performance css ends */

/* ssd css starts */
.ssd_container {
    float: left;
    width: 100%;
    padding: 2% 0;
}
.ssd_rit_containnn {
    float: left;
    width: 100%;
}
.ssd_rit_containnn {
    float: left;
    width: 100%;
    background-color: #000;
    padding: 5%;
    color: #fff;
}
.ssd_rit_containnn img {
    background-color: #fff;
    border-radius: 50%;
    width: 12%;
}
.ssd_rit_containnn span {
    color: #c59c02;
    font-size: 20px;
}
.ssd_rit_containnn b {
    font-size: 24px;
    line-height: 24px;
}
.ssd_rit_containnn .perf_cont_hal {
    float: left;
    min-height: 95px;
    width: 100%;
    margin-top: 2%;
}
.ssd_rit_containnn .perf_cont_hal img:hover{
    background-color: #c19801;
}
.ssf_publishers_benifits {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.ssf_publishers_benifits b{
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding: 2% 0;
}
.pub_benifits {
    float: left;
    width: 100%;
    min-height: 360px;
    background-color: #000;
    color: #fff;
    border-bottom: 10px solid #c59c02;
    margin-bottom: 5%;
}
.pub_benifits p{
    padding: 10px !important;
}
/* ssp css ends */

/* Video css starts */
.video_container {
    float: left;
    width: 100%;
    background-image: url('../images/video_feat_back.jpg');
    background-position: center center;
    background-size: 100% 100%;
    padding: 5% 0;
}
.vid_conten {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 20%;
}
.vid_conten span {
    display: inherit;
    font-size: 20px;
    color: #c59c02;
    font-weight: bold;
}
.vid_conten img {
    float: left;
    margin-right: 5%;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}
.vide_mobile {
    float: left;
    width: 100%;
}
.vide_mobile img {
    margin-top: -20px;  
}
.view_video_ad_contai {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.view_video_ad_contai p {
    padding: 3% 0;
}
/* Video css ends */
/* White css starts */
.white_container {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.white_bel {
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.white_bel span {
    display: inherit;
    font-size: 16px;
}
.white_bel img {
    margin: auto;
}
.white_bel img {
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}
.entire_white {
    padding: 10px;
    float: left;
    width: 100%;
    color: #fff;
    background-color: #3e347c;
}
.white_thr {
    float: left;
    width: 100%;
}
.white_thr b {
    font-size: 25px;
    line-height: 25px;
    float: left;
    width: 100%;
    border-left: 5px solid #c59c02;
    padding-left: 15px;
}
.white_thr img {
    padding: 20px 0;
}
.white_overview {
    float: left;
    width: 100%;
    background-image: url(../images/whiteover_back.jpg);
    background-position: center center;
    background-size: 100% 100%;
    padding: 3% 0;
}
.overvie {
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
}
.overvie img {
    margin: auto;
    padding: 12px;
}
.overvie b {
    font-size: 30px;
    line-height: 30px;
}
.ovr_vie {
    float: left;
    width: 100%;
    color: #fff;
}
.ovr_vie img {
    float: left;
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
}
.ovr_vie img:hover {
    background-color: #c19801;
} 
.over_threee {
    float: left;
    width: 100%;
    margin: 5% 0;
}
.white_dsp_feat {
    float: left;
    width: 100%;
    padding: 2% 0;
}
.white_dsp_feat b {
    color: #000;
}
.dsp_feat_im {
    float: left;
    width: 100%;
    padding: 2% 0;
}
.dsp_feat_im img {
    width: 60%;
    margin: auto;
}
.white_dsp_features_cont {
    float: left;
    width: 100%;
    background-image: url(../images/dsp_feautures_back.jpg);
    background-position: center center;
    background-size: cover;
    padding: 5% 0;
}
.feart_three_dsp {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 30% 0;
    border-radius: 110px;
    border-top: 50px solid #59518e;
    border-bottom: 50px solid #59518e;
    min-height: 600px;
}
.midi {
    border-top: 50px solid #ff585c !important;
    border-bottom: 50px solid #ff585c !important;
}
.midi b {
    color: #000 !important;
}
.feart_three_dsp b {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-size: 25px;
}
.feart_three_dsp ul {
    padding-left: 30%;
    font-size: 18px;
}
.feart_three_dsp ul li {
    margin: 5px 0;
}
.incont_whi_tab {
    float: left;
    width: 100%;
    background-color: #ddd;
    margin: 10px 0;
    padding: 5%;
    min-height: 125px;
}
.incont_whi_tab span {
    display: inherit;
    font-weight: bold;
    font-size: 15px;
}
.incont_whi_tab:hover {
    border-left: 5px solid #c59c02;
    background-color: #000;
    color: #fff;
}
.white_tab_content {
    float: left;
    width: 100%;
    padding: 1% 0;
}
.white_tab_content b, .white_tab_content p {
    color: #000;
    padding: 2%;
}
.white_deploy {
    float: left;
    width: 100%;
    background-image: url(../images/white_deploy_back.jpg);
    background-position: center center;
    background-size: cover; 
    padding: 3% 0;
}
.deploy_whit {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 10%;
    margin-top: 10%;
    box-shadow: 0 0 5px #ddd;
    min-height: 160px;
    text-align: center;
}
.deploy_whit b {
    display: inherit;
    font-size: 18px;
}
.midis {
    color: #fff !important;
    background-color: #ff585c !important;
}
/* White css ends */
/* Mobile Dsp caa atart */
.mobile_dsp_contain{
    float: left;
    width: 100%;
    padding: 3% 0;
}
.abut_mob_dsp {
    float: left;
    width: 100%;
}
.abut_mob_dsp img {
    float: left;
    padding-right: 20px;
}
.abut_mob_dsp b{
    display: inherit;
    font-size: 24px;
    line-height: 24px;
    padding-top: 5%;
    padding-bottom: 1%;
}
.mob_dsp_fru_icn {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #3e347c;
    color: #fff;
    padding: 3% 0;
}
.cont_icn_inside b{
    padding: 10% 0;
    float: left;
    width: 100%;
    font-size: 20px;
}
.cont_icn_inside img {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5%;
    margin: auto;
}
.cont_icn_inside:hover img{
    border: 2px solid #c19801;
}
.cont_icn_inside:hover b{
    color: #c19801;
}
.demand_side_platform {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.demd_hda {
    float: left;
    width: 100%;
    text-align: center;
}
.demd_hda b {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 1% 0;
}
.demd_cnats {
    float: left;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin: 2% 0;
    padding: 3%;
}
.demd_cnats img {
    float: left;
    padding-right: 10px;
}
.demd_cnats:hover {
    background-color: #c59c02;
}
.mob_resp_cont_section {
    float: left;
    width: 100%;
    padding: 3% 0;
    background-image: url(../images/mob_dsp_respon_back.jpg);
    background-position: center center;
    background-size: cover; 
}
.mob_re_co_se {
    float: left;
    width: 100%;
    color: #fff;
    text-align: justify;
}
.mob_re_co_se img {
    width: 40%;
    float: right;
}
.mbil_bttm_contao {
    float: left;
    width: 100%;
    padding: 3% 0;
}
.mbil_cnt {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: justify;
}
.mbil_cnt img {
    float: left;
    width: 40%;
    padding-right: 25px;
}
.mbil_cnt b {
    display: inherit;
    font-size: 21px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
/* Mobile Dsp css end */
#myCarousel_mobile_banner{
    display: none;
}
@media(min-width:320px) and (max-width:767px) {
    .ser_cont {
        min-height: 275px !important;
    }
    .logo_container img {
        width: 25%;
    }
    #myCarousel_home_banner {
        display: none;
    }
    #myCarousel_mobile_banner {
        display: block;
    }
    ser_cont_dec {
        margin-top: 0 !important;
    }
    .header_container_scroll{
        display: none;
    }
    .menu_div {
        margin-top: -75px !important;
    }
    .menu_div ul li a {
        padding: 10px;
        color: #fff !important;
    }
    .menu_div ul.nav.navbar-nav {
        margin-top: 11%;
        background-color: rgba(0,0,0,.5);
        border-radius: 10px;
        float: right;
    }
    .menu_div .dropdown-menu li a {
        background-color: #3e347c;
    }
    .slide_cont {
        font-size: 18px;
        line-height: 18px;
    }
    .slide_cont b{
        font-size: 20px;
        line-height: 20px;
    }
    .banner_container .carousel-caption {
        top: 54%;
    }
    .banner_container .carousel-control span{
        padding: 1px 8px;
    }
    .banner_container .carousel-indicators {
        bottom: -10px;
    }
    .service_container {
        overflow: hidden;
        float: left;
        width: 100%;
        padding: 2% 0;
        text-align: center;
        margin-top: -65px;
    } 
    .ser_cont_dec {
        margin-top: 0 !important;
    }
    .head_div b {
        font-size: 21px;
        line-height: 21px;
    }
    .head_div span {
        font-size: 14px;
        padding: 10px;
        margin: 0 !important;  
    }
    .head_div span:after{
        display: none;
    }
    .ser_cont_dec .col-sm-3 {
        padding: 0; 
        border-right: 0px dotted #000; 
        border-bottom: 0px dotted #000; 
    }
    .head_divs {
        margin-top: 10%;
    }
    .head_divs b {
        font-size: 19px;
        line-height: 19px;
    }
    .want_to_work {
        font-size: 15px;
        line-height: 15px;
    }
    .want_to_work a {
        padding: 5px;
        font-size: 10px;
        margin: 0;
    }
    .foot_container {
        background-image: none;
        background-color: #000;
    }
    .cont_foo {
        min-height: 120px;
    }
    .form_footer {
        margin: 5% 0;
    }
    .submit {
        margin-top: 5%;
    }
    .submit input {
        float: left;
    }
    .soci_cont img {
        width: 35px;
        height: 35px;
    }
    .soci_cont span {
        font-size: 15px;
    }
    .whatwedo_container, .four_exp_cont {
        background-image: none;
        background-color: rgba(62, 52, 124,.6);
    }
    .oops_container {
        background-image: none;
    }
    .cor_pro {
        margin: 5px 0;
    }
    .service_container .container {
        margin: 0 17px;
        box-shadow: 0 0 18px 0 #ddd;
    }
}

/*@media(min-width:480px) and (max-width:639px) {}*/

/*@media(min-width:640px) and (max-width:767px) {}*/

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:992px) and (max-width:1200px) {}

@media(min-width:1201px) and (max-width:1650px) {}
